<h2>Заказанные товары:</h2>

<table border="1" cellspacing="0" cellpadding="10" class="table table-bordered">
  <tr>
    <th>Товар</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>

  <% total_qty = 0 %>
  <% total_price = 0 %>

  <% @items.each do |item| %>
  <tr>
    <td><%= item[0].title %></td>
    <td><%= item[0].price %> руб.</td>
    <td><%= item[1] %></td>
  </tr>

  
  <%= total_price += item[0].price.to_i *  item[1].to_i %>
  <%= total_qty += item[1].to_i %>

  <% end %>

  <tr style="background: yellow;">
    <td><strong>Сумма:</strong></td>
    <td><%= total_price %> руб.</td>
    <td><%= total_qty %></td>
  </tr>

</table>

<h2>Оформить заказ:</h2>

<div class="row">

<form action="/place_order" method="POST" class="form-inline">

  <input type="hidden" name="order[orders_input]" value="<%= @orders_input %>">
<div class="col-md-12"> 
  <input class="form-control" type="text" name="order[name]" placeholder="Имя" value="">
  <input class="form-control" type="text" name="order[phone]" placeholder="Телефон" value="">
  <input class="form-control" type="text" name="order[address]" placeholder="Адрес доставки" value="">
</div>
  <br><br>
  <div class="col-md-1">
  <p><button type="submit" value="Заказать" class="btn btn-primary">Заказать</button> </p>
</form>
</div>
<div class="col-md-6">
<form action="/delete_order" method="POST" class="form-inline">
		<button value="Очистить" onclick="return cancel_order()" class="btn btn-danger">Отменить заказ</button>
</form>
</div>
</div>


