<h2>Welcome to Pizza Shop!</h2>

<% @products.each do |p| %>

	<div class="row-1">
		<div class="col-md-4">
			<div>
				<%= p.title %>
			</div>

			<div>
				<img src="<%= p.path_to_image %>" class="img-responsive" alt="Responsive image"> 
			</div>

			<div>
				Описание: <%= p.description %>
			</div>

			<div>
				Размер: <%= p.size %> см
			</div>

			<div>
				Цена: <%= p.price %> руб.
			</div>

			<div>
				<button class="btn btn-success btn-sm" onClick="add_to_cart(<%= p.id %>)">В корзину</button>
			</div>

			

		</div>
	</div>

<% end %>
<!--
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <button class="btn btn-primary" onclick="something()">Click me!</button> -->

