<h2>All orders:</h2>

<table cellspacing="0" cellpadding="10" border="1">
  <tr style="background: yellow">
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Order</th>
    <th>Date</th>
  </tr>

  <% @order.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.phone %></td>
    <td><%= item.address %></td>
    <td><%= item.orders_input %></td>
    <td><%= item.created_at %></td>
  </tr>
  <% end %>
</table>